# node
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem
.ropeproject/


.env*
!.env.example
venv/
__pycache__/
/data
/chroma_db/
